.form-appointment {
	padding: 2em;
	background-color: rgb(239, 252, 239);
	border-radius: 4px;
	border: 1px solid rgb(130, 228, 130);
	font-family:Arial;
	margin: 100px;
}
.form-appointment input[type=text],.form-appointment input[type=email],.form-appointment input[type=tel],.form-appointment textarea {	
	border: 1px solid rgb(153, 202, 129);
	border-radius: .2em;	
	font-family: Arial;
	font-size: 1.1em;
	padding: .4em 1em;
	margin: 0 0 .8em;
	width: 100%;
}
.form-appointment textarea {
	height: 160px;
}
.form-appointment input[type=submit] {
	background-color: rgb(118, 207, 118);
	border: 1px solid rgb(134, 189, 134);
	color: rgb(255, 255, 255);
	font-size: 1.4em;
	padding: 10px 18px;
}